.brand-text a {
    color: white;
    font-size: 19px;
    font-weight: bold;
    max-width: unset;
}

.customize .sidebar-header {
    padding: 19px 15px 20px;
    background: #31405b;
    border-bottom: 1px solid #343e50;
}

.customize .sidebar-menu {
    background: #273f6a;
}

.customize .metismenu >li:hover>a, .customize .metismenu >li.active>a {
    background: #324f78;
}

.customize .metismenu li a {
    color: #d0d6e1;
}

.btn-submit {
    background: unset;
    border: 0;
}

.customize .metismenu li a i {
    color: #3c9ad9;
}

.customize .main-content {
    background: #e9eaeb;
}

td.image-td {
    width: 120px;
}

.image-td img {
    width: 120px;
    height: 90px;
    object-fit: cover;
}

.konseling-timeline-area {
    padding-left: 52px;
    padding-top: 10px;
}

.btn-small {
    padding: 5px 10px;
}

ul.identitas-mahasiswa li {
    margin: 6px 0;
}

.header-konseling .header-title {
    width: 100%;
    display: inline-block;
    max-width: 410px;
}

.right-text {
    float: right;
    font-size: 13px;
    color: grey;
}

.badge-konselor {
    font-size: 10px;
    margin-left: 7px;
    position: relative;
    top: -3px;
}

.horizontal-main-wrapper.my-wrapper .container{
    max-width: 1140px;
}

body.customize.body-bg {
    background: #e9eaeb;
}

.horizontal-main-wrapper.my-wrapper {
    min-height: 89vh;
}

.my-toast {
    position: absolute;
    top: 95px;
    right: 20px;
    width: 380px;
    box-shadow: 1px 1px 3px -2px rgba(0,0,0,0.75);
    -webkit-animation-name: run;
    -webkit-animation-duration: 0.8s;
    z-index: 2;
}

@-webkit-keyframes run {
    0% { right: -390px; }
    70%{ right : 45px;}
    100% { right : 20px; }
}

.my-banner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../img/banner.jpeg);
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
    position: relative;
}


.article-thumb {
    flex-basis: calc(20% - 10px);
}

.article-content {
    flex-basis: calc(80% - 10px);
}

.article-post {
    padding-bottom: 3em;
    border-bottom: 1px solid #c2c2c2;
}

.article-latest .article-post:last-child {
    border-bottom: 0;
}

.my-table table.dbkit-table tr td:first-child {
    max-width: 260px;
}
.my-table table.dbkit-table tr td:last-child {
    max-width: 370px;
}
.my-table table.dbkit-table tr td:nth-child(2) {
    max-width: 170px;
}
.my-table table.dbkit-table tr td:nth-child(3) {
    max-width: 150px;
}

.my-table table.dbkit-table tr td {
    width:100%;
}

.my-table table.dbkit-table tr {
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    min-height: 71px;
    cursor:pointer;
}

span.comment-time {
    font-size: 12px!important;
    line-height: 2em!important;
    color: #9b9b9b!important;
}